# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Code/
/TestCode/Chap8
/TestCode/Chap6
/TestCode/Chap7
/TestCode/Chap5.GenericMethods/bin/Debug
/TestCode/Chap10/bin/Debug
/TestCode/Chap10/obj/Debug
/TestCode/Chap10.DictionarySample/bin/Debug
/TestCode/Chap10.DictionarySample/obj/Debug
/TestCode/Chap10.ImmutableCollectionsSample/obj/Debug
/TestCode/Chap10.LinkedListSample/obj/Debug
/TestCode/Chap9/bin/Debug
/TestCode/Chap9/obj/Debug
/TestCode/Chap10.ImmutableCollectionsSample/bin/Debug
/TestCode/Chap11.DataLib/bin/Debug
/TestCode/Chap11.DataLib/obj/Debug
